services:
  - type: web
    name: bangalore-price-predictor
    runtime: python
    region: singapore

    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app

    envVars:
      - key: PYTHON_VERSION
        value: 3.10

    autoDeploy: true
